body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: lightgray;
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

h3 {
  color: LightGray;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

b {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

img {
  display: block;
  margin-bottom: 20px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

li {
  font-size: 16px;
  margin-bottom: 5px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
